python-dotenv
pywin32
langchain
langchain-community
langgraph
ollama
langchain-ollama
langchain-huggingface
wikipedia
wikipedia-api
gradio
pypdf
langchain-qdrant
langmem
mem0ai
mem0ai[nlp]
mem0ai[extras]
arxiv